<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>404 ERROR PAGE</title>
</head>
<body>
    {{>header}}
    <div class="image404">
        <img src="./images/error.jpg" alt="image of 404 sign">
    </div>
    <div class="landing">

    <p>GO BACK TO HOME PAGE? <br><a href="/">JntuhClassUpdates</a> </p>
    </div>
   
</body>
</html>