<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>About Us</title>
</head>
<body>
    {{>header}}
    <h1>ABOUT US</h1>
    <P>
        JntuhClassUpdates.edu is a digital platform that excludes the involvement of a class representative in passing information from lecturers to students. The idea is to achieve a connection between teachers and students and vice-versa. For that reason, JntuhClassUpdates.edu undeniably benefits in achieving the same. <br><br>

 Moreover, the website doesn't just adhere to sharing information but provides possibilities for students to explore grow and find the site as a go-to place for all their needs.<br><br>

The crux of the website is to create a functional link that is accessible to all, engaging, and effective at the same time.<br><br>

Why be dependent on someone for our work, 
When JntuhClassUpdates.edu has got our back?
    </P>
    
</body>

</html>