<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
    <title>Know about the developer</title>
</head>
<body>
    {{>header}}
    <h3 class="dev__hero__heading center__things">Know about the developer</h3>
    <div class="coloum__things">

    <div class="me">
        <img src="./images/developer-girl.JPG" alt="Image representing a girl developer">
    </div>
    <div class="my__intro">

    <p>
        Passionate, hard-working, novice developer and a writer by passion and profession. Completed my graduation in the year 2020 in computer science, I realized programming has so much to do with our lifestyle. It has revolutionized our lives and will continue to do so by 10x in the future. 

Way back in the first year of graduation, I hated coding because the "semi-colon missing from line4" has troubled me even when there's a semi-colon in line4. <br><br>
<div class="">

On the Other side of the world, I am constantly reminded: - look computer science people have developed apps, metaverse, got into big-tech companies, and moved abroad, and look where do you stand? After a deep breath, I say, I am a star whose journey is in the making. 
<div class="image__boy">

    {{!-- <img src="./images/developer-inside.jpg" alt=""> --}}
</div>
I feel everybody is different, and more importantly, everybody has Acquired a unique quality that differentiates them from others. Adding to it, I realized the unique quality pushed me to develop another website to help students in any possible way. <br><br>

Bound by an ambition to help students, I built a website that's quick to approach, consistent with the design, and pleasant in appearance.<br><br>

In the past few months and the experience acquired from graduation, I explored all the programming, database, and scripting languages and decided to stick with HTML, CSS, and JavaScript. These languages, according to me, are comfortable and uncomplicated.<br><br>

Coming to the website, the central purpose behind this website is to connect lecturers and students by excluding the involvement of class representatives in passing information. 
During masters and today, everybody in class relies upon the class representatives. It feels as if we are incomplete without a CR. Presently, the students around the world have reached a peak point to trust technology, whereas for a few students', work is hanging on CR’s time.<br><br>
Isn’t it?
&nbsp;
<br>
On a side note: if there's any suggestion that could help the website grow or just want to get in touch for queries, then reach out to me at: csengineer.mona@gmail.com

    </p>
    </div>
    </div>
</div>
<div class="another__blogs center__things">
    <a href="/technology">Like to read a tech blog?</a>
</div>
    {{>footer}}
    
</body>
</html>