<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    {{>links}}
</head>

<body>
    {{>header}}

    <div class="login__container">
        <h1>LOGIN</h1>

        <form onsubmit="return validateForm()" action="/login" method="POST">
            <input type="text" id="username" name="text" placeholder="Email" required>
            <p class="login__error" id="user__error"></p>
            <input type="password" name="pwd" id="pwd" placeholder="Password">
            <p class="login__error" id="pwd__error"></p>
            <div class="login__button">
                <a href="/" id="login__btnnnn" type="submit">Login
                    {{!-- <button id="login__btnnnn" type="submit">Login</button> --}}
                </a>
            </div>
        </form>
        <div>
            <p class="login__forgetPassword"> Forgot your password?</p>
            <p>Don't have an account yet? <span><a href="">Register</a> </span> </p>
        </div>
    </div>
    {{>footer}}
    <script>
        let username = document.getElementById('username');
        let flag = 1;
        let pwds = document.getElementById('pwd');
        function validateForm() {
            if (username.value.length < 3) {
                document.getElementById("user__error").innerHTML = " username should have more than 3 char";
                return false;
                flag = 0;
            }
            else if (pwds.value.length == 0) {
                document.getElementById("pwd__error").innerHTML = "Please enter password";
                return false;
                flag = 0;
            }
            else {
                document.getElementById("user__error").innerHTML = "";
                document.getElementById("pwd__error").innerHTML = "";
                flag = 1;
            }
        }
    </script>



</body>

</html>