<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h1>
        Welcome to Motivation blog!!
    </h1>
    <div class="another__blogs center__things">
    <a href="/technology">Like to read a tech blog?</a>
</div>
    
</body>
</html>