<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>CLASS NOTES</title>
</head>
<body>
    <section>
        {{>header}}
        <div class="center__things">

        <a class="top" href="https://oufastupdates.com/">Click Here </a>
        </div>
    </section>
    
</body>
</html>