<!DOCTYPE html>
<html lang="en">
<head>
    <title>360 degree Rotation</title>
    {{!-- {{>links}} --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/1.2.0/aframe.min.js" integrity="sha512-/gO16YMp20RIqCZXZyvMlzALQqEoiDU0akshw25wFiXCRGl+0p/HPWkOd8HWFn6bnatGhxakGLfYhWaPPVQIyA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    {{>header}}
    <h1>
        Welcome to Rotation!!!
    </h1>
    <a-scene>
        <div class="view360d">
        <img id="panaroma" src="./images/360degreeUniv.avif"/ alt="JNTUH IMAGE">
        </div>
        <a-sky src="#panaroma" rotation = "0 -90 0">
        </a-sky>
    </a-scene>
{{>footer}}
</body>
</html>