<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h1 style="text-align: center; ">
        Welcome to Privacy space!
    </h1>
    <div class="centering">
        <p>The world was void centuries before. Technology has made the world colorful with abundant
Opportunities, flexibility, transparency, ease, and prominently the digital transformation. <br><br>This
world is now perhaps being referred to as a new whole world and is the current trend. With
over <span id="style"> 4.66 billion Internet users, digital transformation is the pillar of strength to human lives</span>. 
Given the digital advancement, the organizations and the responsible bodies started
considering individual internet privacy as a medium to gather sensitive information and
produce money out of it.</p> <br>

<p> <span id="style">Privacy, otherwise known as Confidentiality, Secrecy, Isolation, Discretion, and is the state
of being free from the attention of the public</span>. That said, the word privacy has broader
definitions. To elucidate, it refers to the users' data and involves sensitive information of a
company. </p>
<br><p>Moving forth, the CEO of MICROSOFT Satya Nadella while addressing the global
biotechnology conclave BioAsia 2021 through virtual mode emphasized the value of privacy
and said: In privacy today, all over the world there are regulations. Europe was the first with
GDPR and it is spreading everywhere. Privacy is a human right and I think it will be
recognized. <span id="style">The CEO encouraged building products that do not rule out privacy, security,
and internet safety. He argued on utilizing privacy to its best</span>. Here, as a user, a key fact to
remember is how Windows invades users' Privacy and is as bad as Google in the interest
of storing sensitive information. Well, the organization must correct its mistakes before
leading an example.</p>
<br><br>
If asked to provide personal information on the internet, 50% of the people will find an
alternative for their work, and the rest depending on the organization worth they trust, the
user provides only &quot;required&quot; details.
That said, many companies look at the user as their priority and the key point to remember is
that these companies record users' internet activity without their actual consent. 57% of the
people discourage this and find it irrational. While the rest have to trust them because of the
unavailability of the second option. <br><br>
A user comments, &quot;I think as a user, we all owe protection and safeguard for our data. So, a
company must not peep into our data without our permission. Even if they are dealing with
our data they must maintain super safety and regarding the logs and records they maintain
like the history on browser etc must be avoided to an extent.&quot;
To elucidate, for all the 448 million Social media users, it is the privacy that values and
not the convenience they provide in the name of making money from the user&#39;s data. Yet, the
companies look for advantages and do not think beyond exploiting privacy. <br><br>
<h3>Conclusion</h3>

<p id="style">With more than ever time spent online, the users have found a way to unlimited joy, comfort,
ease, better management, online services, productivity, and much more. In short, it has made
the life of human heaven. 
Yet do we understand that nothing comes free? In this world, everything comes at a value,
and here it is privacy negligence.</p>
<br>
<p>To read More: WATCH OUT FOR THIS SPACE</p>
    </div>
    {{>footer}}
</body>
</html>