<section class="sixth">

            <footer class="footer__content">
                <div class="foot">
                    <h5>Copyright 2022-2023&copy;<br>Designed by Allure team</h5>
                </div>
            </footer>
        </section>