<header>
            <div class="header__content">
                <div class="logo">
                    <a href="/">
                        <img src="./images/logo.png" alt="university logo">
                        </a>
                </div>
                <div class="ham__icon">
                    <img src="./images/hamurger icon.png" alt="image of hamburger icon" id="hamburger" onclick="show__content()">
                </div>
            </div>
            <nav>
                <div class="wrapper">
                    <ul id="navul" class="navul">
                        <div class="center">

                            <div class="aboutus">
                                
                                <a href="/about" >
                                    <li>About Us</li>
                            </a>
                        </div>
                        <li>Features
                            <i class="fas fa-chevron-down"></i>
                            <ul class="drop-down">
                                <a href="/classupdates">
                                    <li>Class Updates</li>
                                </a>
                                <a href="/notes">
                                    <li class="nav__items">Jntuh Notes</li>
                                </a>
                                <a href="careercoachtool">
                                    <li class="nav__items">Career Coach tool</li>
                                </a>
                                <a href="rotation">
                                    <li class="nav__items">View 360degree</li>
                                </a>
                                <a href="chatbot">
                                    <li class="nav__items">CHATBOT</li>
                                </a>
                                <!-- <a href="/FrontEnd/virtualtour.html"><li class="nav__items">3D Virtual tour</li></a> -->
                                <!-- <a href="/FrontEnd/attendance.html"><li class="nav__items">Attendance</li></a> -->
                                <a href="/poll">
                                    <li class="nav__items">Conduct a poll</li>
                                </a>
                                <!-- <a href="/FrontEnd/universitystore.html"><li class="nav__items">University Store</li></a> -->
                            </ul>
                        </li>
                        <a href="/developer">
                        <li>Blogs</li>
                        </a>
                    </div>
                        <div class="header__right">
                            <a href="/register">
                                <li>Register</li>
                            </a>
                            <a href="/login">
                                <li>Login</li>
                            </a>
                        </div>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <script src="./main.js"></script>